#dropdownsContainer{
    text-align: center;
}
#dropdownsContainer > #d1{
    float: left;
    margin-left: 10%;
}

#dropdownsContainer > #d3{
    float: right;
    margin-right: 10%;
}

.dropdowns{
    color: rgb(255,255,255);
}

nav > span{
    color: rgb(255,255,255);
}

#salesnavtag{
    margin-right: 35%;
}

a{
    text-decoration: none;
    color: rgb(255,255,255);
}